.add-button:hover{
    background-color: #25b668;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
}
.add-button {
    display: flex;
    text-decoration: none;

    width: 250px;
    height: 60px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #00aeef;
    color: #fff;
    
    justify-content:center;
    align-items: center;

    transition: all 0.2s ease;
}

.sticker {
    display: block;
    background-color: #fff;

    width: 350px;
    height: 350px;

    align-items: center;
    justify-content: center;
    text-decoration: none;

    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    padding: 10px;
    margin: 0px 20px 20px 20px;
    overflow-y: auto;
    position: relative;
}
.sticker::-webkit-scrollbar {
    width: 0px;
}

.sticker-container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}


.conf-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.btn {
    display: flex;
    text-decoration: none;

    width: 150px;
    height: 60px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #00aeef;
    color: #fff;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.delete-btn:hover{
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
    background: rgba(255, 0, 59);
    transition: background;
}
.upd-btn:hover{
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #016685;
    transition: background;
}