html {
    font-family: Fira Sans,sans-serif;
  }
body {
    height: 100%;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    background-color: #60c0ff;
    background-image: url('../img/bg.png');
}

.content {
    display: flex;
    box-sizing: border-box;

    flex-direction: column;

    width: 400px;

    padding: 40px 24px;
    margin: 35px 0;

    background-color: #ffffff;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;

    opacity: 0;
    animation: ani 1.5s forwards;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

@keyframes ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.formContainer {
    display: flex;

    flex-direction: column;
}

.logo {
    align-self: center;
    text-align: center;
}

.logo img {
    width: 40%;
}

.title {
    text-align: center;

    padding: 20px 0;

    font-size: 24px;
    font-weight: 700;
}

.link {
    text-align: center;
}

.link a{
    text-decoration: none;
    color: #4682b4;
}

.link a {
    color: #4682b4;
    text-decoration: none;
}

.link a:hover {
    color: #f13e3e;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
}

.authInput {
    padding: 12px 20px;

    border: 1px solid #DCDCDF;
    border-radius: 25px;

    color: black;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.24px;
}

.authInput::placeholder {
    color: #B1B1B7;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.24px;
}

.authInput:focus {
    outline: none;
}

.authInput {
    margin-bottom: 12px;
}

.authButton {
    margin-top: 20px;
    padding: 12px 20px;

    text-align: center;

    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;

    background-color: #00aeef;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.authButton:hover {
    background-color: #e91616;
}

.bg-ex-fixed{
    background-position: center;
    background-attachment: fixed;
}
