body {
  box-sizing: border-box;

  font-family: 'Mulish', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

    background-image: url('../img/bg.png');
    height: 100vh;
  background-color: #60c0ff;
}

.content {
  width: 70%;
  height: 80vh;

  padding: 10px 30px;
  margin-bottom: 20px;

  overflow-y: auto;

  background-color: #ffffff;
  border-radius: 16px;
}

header {
  margin: 15px 0;
  padding: 10px 30px;

  width: 70%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-radius: 16px;
  background-color: #ffffff;
}

header img {
  width: 100px;
}


.controls {
  display: flex;
  flex-direction: row;
  gap: 5px;

  font-size: 12px;
  font-weight: 600;
}

.controls a {
  text-decoration: none;
  color: #000;
}

.control i, .controls__button i {
  transition: all 0.3s ease;
}

.controls a:hover i, .controls__button:hover i {
  background-color: #ddd;
  padding: 0 10px;
  border-radius: 10px;
}

.controls__button {
  padding: 0;

  border: none;
  background-color: #fff;
  cursor: pointer;

  font-size: 12px;
  font-weight: 600;

  transition: color 0.3s ease;
}

.controls__button:hover {
  color: #555;
}

.control, .controls__button {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.control p {
  margin: 0;
}

.control {
  width: 90px;
}

.material-icons {
  font-size: 24px;
  color: #555;
}

.active_icon {
  background-color: #c2e7ff;
  padding: 0 10px;
  border-radius: 10px;
}

::-webkit-scrollbar {
  height: 80%;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #9ad6fd;
  border: none;
  border-radius: 12px;
  padding: 5px;
}

::-webkit-scrollbar-corner {
  padding: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  margin: 11px 0;
}

