.title {
    color: #333;
    margin-top: 0px;
    margin-bottom: 15px;
}

.conferences {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px; /* Расстояние между элементами */
}

.conference {
    background-color: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
    margin-bottom: 20px; /* Добавляем дополнительное расстояние между блоками */
}

@media (max-width: 768px) {
    .conferences {
        display: flex;
        flex-direction: column; /* Все элементы по одному в столбик */
    }
}

.simple__info {
    font-size: 14px;
    color: #555;
}

.simple__info p {
    margin: 0;
    margin-bottom: 5px;
}

.sections {
    display: flex;
    flex-wrap: wrap;

    gap: 10px;
}

.section {
    text-align: center;

    padding: 10px;

    background-color: #c2e7ff;
    border-radius: 16px;

    width: 22%;
}

.moder {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 10px;
}

.link {
    width: 20%;
    text-align: center;

    margin: 0;
    padding: 6px 12px;

    border: 1px solid black;
    border-radius: 4px;

    transition: background-color 0.3s ease;
}

.link:hover {
    cursor: pointer;
    background-color: #eee;
}

h2 {
    text-align: left;
}

.message {
    text-align: left;
    
    color: #555;
    font-size: 14px; 
}


.modal { 
    display: none; 
    position: fixed; 
    z-index: 4000; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6); 
} 

.modal__container h1 {
    margin-left: 40px;
}
 
.modal-content { 
    margin: auto; 
    display: block; 
    max-width: 80%; 
    max-height: 80%; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    transition: transform 0.3s ease-in-out !important; /* Добавляем !important */ 
    animation: fadeInOut 0.3s ease-in-out !important; /* Добавляем !important */ 
} 
 
 
.close { 
    position: absolute; 
    top: 15px; 
    right: 35px; 
    color: #000; 
    font-size: 40px; 
    font-weight: bold; 
    cursor: pointer; 
}


.modal__container {
    width: 50%;
    margin: auto;
    margin-top: 10%;
    position: relative;

    background-color: #fff;
}

.modal__container form {
    padding: 40px;

    display: flex;
    flex-direction: column;
}

.month-filters {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.month-filters label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 14px;
}

.month-item {
    display: block;
    padding: 5px;
    margin: 3px 0;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.month-item:hover {
    background-color: #d0d0d0;
}




.container {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    max-width: 1200px; 
    width: 100%; /* На экранах средней и большой ширины панель будет растягиваться на всю доступную ширину */
    align-items: center;
}

.sidebar {
    width: 200px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-self: flex-start;
}

.sidebar h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.sidebar button {
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #0056b3;
}

.content {
    flex-grow: 1;
    max-width: 1200px;
    padding: 0;
}
